<h1>Workout Information</h1>
<!--Snippets of code used from course modules and W3 Schools-->
    <!--Form to capture workouts-->
    <form>
        <fieldset>
            <legend>Enter Workout Information</legend>
                <label class="inputs" for="name">Name:</label>
                <input type="text" id="name" name="name" size="30" maxlength="100">
                <label class="inputs" for="reps">Reps:</label>
                <input type="number" id="reps" name="reps" size="30" maxlength="100">
                <label class="inputs" for="weight">Weight:</label>
                <input type="number" id="weight" name="weight" size="30" maxlength="100">
                <label class="inputs" for="date">Date:</label>
                <input type="date" id="date" name="date" size="30" maxlength="100">
                <label class="inputs" for="unit">Unit:</label>
                    <select id="unit" name="unit">
                        <option value="0">kg</option>
                        <option value="1">lbs</option>
                    </select>
                <input type="submit" id="submitworkout" value="Submit">
        </fieldset>
    </form>  
<table id="mainWorkoutTable" style="border:solid black">
    <caption>Workouts</caption>
    <thead>
        <tr style="border:solid black">
            <th style="border:solid black">Name</th>
            <th style="border:solid black">Reps</th>
            <th style="border:solid black">Weight</th>
            <th style="border:solid black">Date</th>
            <th style="border:solid black">Unit</th>
            <th style="border:solid black">Delete</th>
            <th style="border:solid black">Edit</th>
            <th style="border:solid black">Update</th>
        </tr>
    </thead>
    <tbody style="border:solid black">
        <!--Use Handlebar templates to fill in cells with appropriate data from databse.-->
        {{#each entries}}
        <tr id="workoutTable" style="border:solid black">
            <!--Keep id values hidden-->
            <td class="entryId" id="entryId" hidden style="border:solid black">{{this.id}}</td>
            <td id="entryName" style="border:solid black">{{this.name}}</td>
            <td id="entryReps" style="border:solid black">{{this.reps}}</td>
            <td id="entryWeight" style="border:solid black">{{this.weight}}</td>
            <td id="entryDate" style="border:solid black">{{this.date}}</td>
            <td class="entryUnit" id="entryUnit" style="border:solid black">{{this.lbs}}</td>
            <td><button class="deleteRow" type="button" value={{this.id}}>Delete</button></td>
            <td><button class="editRow" type="button" value={{this.id}}>Edit</button></td>
            <td><button class="updateRow" type="button" value={{this.id}}>Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>